body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('assets/knightbrazil.jpeg');
    background-size: cover; /* Stretch and cover the entire background */
    background-position: center;
    background-repeat: no-repeat; /* Prevents repeating the image */
}

.leaderboard-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333; /* Ensuring header text color stands out */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Added margin for spacing */
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.highlight-kills {
    background-color: #75ff95; /* Light green background */
    transition: background-color 1s ease;
}

.highlight-deaths {
    background-color: #ff8d97; /* Light red background */
    transition: background-color 1s ease;
}
